# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# EF Core migrations history
**/Migrations/*

# Rider specific files
.idea/
*.iml
*.[Cc]ache

# VS Code specific files
.vscode/

# Secrets files - IMPORTANT!
**/secrets.json
appsettings.*.json # Generally exclude environment-specific settings if they contain secrets
!appsettings.json # Keep the base template

# SQLite database files
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment files
.env

# Packages
**/packages/*
**/node_modules/*
**/Pods/*

# Local publish directory
**/publish/*
uploads/
log/