<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal-wandleapi.log"> <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="allfile"
            fileName="${basedir}/logs/api-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level:padding=-5}}|${logger:padding=-30:shortName=true}|${message} ${exception:format=ToString,StackTrace}${newline}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            keepFileOpen="false"
            encoding="utf-8" />

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${uppercase:${level:padding=-5}}|${logger:padding=-30:shortName=true}|${message} ${exception:format=ToString,StackTrace}${newline}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="allfile" final="false" /> <logger name="Microsoft.*" maxlevel="Info" final="true" /> <logger name="System.Net.Http.*" minlevel="Warn" writeTo="allfile" final="false" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <logger name="WandleWheelhouse.Api.*" minlevel="Info" writeTo="allfile" />
    <logger name="WandleWheelhouse.Api.*" minlevel="Trace" writeTo="console" />

    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>